{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1><i class="fa fa-rocket"></i> Bem-vindo ao Business Manager</h1>
    <p class="lead">Sistema completo para gestão empresarial</p>
    
    <div class="row">
        <div class="col-md-4">
            <a href="/clientes/" class="btn btn-primary btn-lg btn-block">
                <i class="fa fa-users"></i> Clientes
            </a>
        </div>
        <div class="col-md-4">
            <a href="/produtos/" class="btn btn-success btn-lg btn-block">
                <i class="fa fa-cubes"></i> Produtos
            </a>
        </div>
        <div class="col-md-4">
            <a href="/chat/" class="btn btn-info btn-lg btn-block">
                <i class="fa fa-comments"></i> Chatbot
            </a>
        </div>
    </div>
</div>
{% endblock %}